h1 {
    font-family: 'Azeret Mono', monospace;
}

img {
    width: 900px;
    height: 500px;
    padding:  10px 10px 40px 10px;
    border: 5px black solid;
    z-index: -1;
    background-color: wheat;
    filter: grayscale(100);
    opacity: 0.5;
    box-shadow: 2px 2px 4px #000000;
}

.move1 img {
    transform: rotate(-25deg);
    position: absolute;
    bottom: 10rem;
    left: 40rem;
}

.move2 img {
    transform: rotate(20deg);
    position: absolute;
    bottom: -10rem;
    left: 40rem;
}

.move3 img {
    transform: rotate(15deg);
    position: absolute;
    bottom: -20rem;
    left: 20rem;
}

.move4 img {
    transform: rotate(5deg);
    position: absolute;
    bottom: -30rem;
    left: 10rem;
    top: 50rem;  
}

img:hover {
    transform: rotate(0deg);
    z-index: 1;
    opacity: 1;
    filter: grayscale(0);
  }